<h3 class="fc-secondary mb2">r-tab-list and r-tab-list-item</h3>
<div class="mb2">
  <div class="grid">
    <div class="grid__col grid__col--1-of-3">

      {{#r-tab-list}}
        {{r-tab-list-item
          setActiveTab=(action 'setActiveTab')
          activeTab=activeTab
          tabName='Tab One'}}

        {{r-tab-list-item
          setActiveTab=(action 'setActiveTab')
          activeTab=activeTab
          tabName='Tab Two'}}
      {{/r-tab-list}}

      {{#if tabOneActive}}
        <p class="fw-bold">ONE</p>
      {{else if tabTwoActive}}
        <p class="fw-bold">TWO</p>
      {{/if}}

    </div>
  </div>
</div>
