<div class="p4">
  <h1 class="fs4 fw-bold">UI Library</h1>
  <ul class="list-flush-left">
    <li class="inline-block pr4">{{#link-to 'avatars'}}Avatars{{/link-to}}</li>
    <li class="inline-block pr4">{{#link-to 'buttons'}}Buttons{{/link-to}}</li>
    <li class="inline-block pr4">{{#link-to 'pagination'}}Pagination{{/link-to}}</li>
    <li class="inline-block pr4">{{#link-to 'tabs'}}Tabs{{/link-to}}</li>
  </ul>
  {{outlet}}
</div>
